/*FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
a.navbar-brand, h1,h2,h3,h5{
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
  background-color: #E7F5F3;
}

.hero {
    height: 100vh;
    background: url('../img/hero-bg.jpg') no-repeat center center/cover;
  }
  
  .parallax {
    height: 50vh;
    background: url('../img/parallax-bg.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

.hero-content h1, .hero-content p{
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .row.g-4 .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}


@media (max-width: 768px) {
    .parallax {
      background-position: 30% top;
      background-size: cover;
      background-attachment: fixed;
    }
}

  .card{
    background-color: #F5F3E7;
  }
  
  .card img {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover img {
    transform: scale(1.1);
  }

  /*navbar*/
  .navbar{
    background-color: #E7F5F3;
  }
  .navbar-brand, .nav-link {
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
  }


  /*SUBRAYADO DE LINKS*/
  .nav-link {
    position: relative;
}

.nav-link::before{
    content:"";
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 2px;
    background-color:#47AA9C;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 100%; /* Cambia el ancho para hacer visible el subrayado */
}
  
  .nav-link:hover {
    color: #C2B56B;
  }


@media (min-width: 1025px) {
  .navbar{
    position: relative;
  }
}

/*menu de circulos*/
#dot-nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 1;
}

#dot-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#dot-nav .dot-container {
  margin: 15px 0;
  position: relative;
}

/* circulo */
#dot-nav .dot-link {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #C2B66C;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.5s ease, transform 0.5s ease;
  text-decoration: none;
}

#dot-nav .dot-link:hover {
  background-color: #396C89;
  transform: scale(1.2);
}

/* texto */
#dot-nav .dot-link::after {
  content: attr(data-label);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
  color: #396C89;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#dot-nav .dot-link:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(-10px);
}

@media (max-width: 1025px) {
  #dot-nav {
      display:none;
  }
}